<div class="row">
  <div class="col-12 col-md-8 my-3">
    <div class="card-trip my-3">
      <img src="https://source.unsplash.com/800x800/?restaurant" />
      <div class="card-trip-infos">
        <div>
          <h2>
            <%= @restaurant.name %>
          </h2>
          <p>
            <%= @restaurant.address %>
          </p>
        </div>
        <div>
          <h2 class="card-trip-pricing">
            <%= @restaurant.category.capitalize %>
          </h2>
          <p>
            <%= @restaurant.phone_number %>
          </p>
        </div>
      </div>
    </div>
    <ul class="list-group">
      <% @restaurant.reviews.each do |review| %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <%= review.content %>
          <span class="text-secondary">
            <%= icon('fas','star') * review.rating %><%= icon('far','star') * ( 5 - review.rating) %>
          </span>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="col-12 col-md-4 my-3">
    <div class="bg-white rounded p-3 border border-light">
      <%= simple_form_for([@restaurant, @review]) do |f| %>
        <%= f.input :rating, as: :radio_buttons, collection: 0..5, wrapper: :horizontal_collection_inline %>
        <%= f.input :content %>
        <%= f.submit 'Add review' , class: 'btn btn-primary btn-block' %>
      <% end %>
    </div>
  </div>
</div>
